/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: #9bbc0f;
    font-family: 'Press Start 2P', cursive;
    font-size: .9rem;
}

#app {
    background-image: url(../img/retro_pc.gif);
    width: 100vw;
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    position: relative;
}

div.screen {
    background-color: #0f380f;
    width: 25%;
    height: 43.7%;
    top: 16.7%;
    left: 37.5%;
    position: absolute;
    padding: 1rem;
    overflow: auto;
}

div.screen h1,
div.screen span {
    text-align: center;
    display: inline-block;
}

div.screen h1,
div.screen span,
div.screen input {
    margin: 1rem;
}

div.screen button {
    margin: .5rem;
}

div.screen input,
div.screen button {
    background-color: #9bbc0f;
    color: #0f380f;
    border: none;
    font-family: 'Press Start 2P', cursive;
    padding: .5rem;
    font-size: 1.2rem;
}

div.screen input {
    width: 15%;
    text-align: center;
}

div.screen button {
    width: fit-content;
}

div.screen ul {
    list-style: none;
}

div.screen ul > li {
    margin: .5rem 0;
}


/* Responsive Layouts */

/* XS Layout (from 0px to 575px */
@media screen and (max-width: 575px) {
    body {
        font-size: .3rem;
    }

    div.screen {
        width: 40.2%;
        height: 17.9%;
        top: 36.4%;
        left: 30%;
        padding: .5rem;
    }

    div.screen input {
        width: 20%;
    }

    div.screen h1,
    div.screen span,
    div.screen input {
        margin: .5rem;
}

    div.screen input,
    div.screen button {
        padding: .5rem;
        font-size: .4rem;
        margin: .1rem;
        margin-bottom: .5rem;
    }
}

/* 2K Layout (from 2560px to 3840px */
@media screen and (min-width: 2560px) {
    html {
        font-size: 20px;
    }
}

/* 4K Layout (from 3840px to higher resolutions */
@media screen and (min-width: 3840px) {
    html {
        font-size: 30px;
    }
}