<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Email List Generator</title>
</head>
<body>

    <!-- Vue 3 -->
    <script src="https://unpkg.com/vue@3"></script>

    <!-- Axios Library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>

    <div id="app">
        <h1>Vue Email List Generator</h1>
        <span>Insert the number of the email addresses you want to generate:</span>
        <input type="text" v-model="mailNumberInput">
        <button @click="getMailList()" v-if="mailNumberInput <= 30 && mailNumberInput > 0">Generate</button>
        <span v-if="mailNumberInput > 30">You can generate a maximum of 30 emails at a time.</span>
        <ul v-if="mailList.length == mailNumber">
            <li v-for="(mail, index) in mailList" :key="index">
                {{ mail }}
            </li>
        </ul>
    </div>

    <script src="js/myscript.js"></script>
</body>
</html>